<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Survey Form</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
	<script src="/js/main.js"></script>
</head>
<body>
	<div id="container">

		<form action="/result" method="post">
			<div>
				Your Name: 
				<input type="text" name="name" id="">
			</div>
			<div>
				Dojo Location: 
				<select name="location">
					<option value="Seattle">Seattle</option>
					<option value="Milwaukee">Milwaukee</option>
					<option value="London">London</option>
					<option value="Leon">Leon</option>
				</select>
			</div>
			<div>
				Favorite Language: 
				<select name="language">
					<option value="Javascript">Javascript</option>
					<option value="Ruby">Ruby</option>
					<option value="React">React</option>
					<option value="Python">Python</option>
				</select>
			</div>
			<div>
				Comment (optional):
				<textarea name="comment"></textarea>
			</div>
			<button type="submit" value="Submit">Submit</button>
		</form>
	
	</div>
</body>
</html>