<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Survey Form</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div id="wrapper">
		<form action="/result" method="post">
			<div>
				Your Name: 
				<input type="text" name="name" id="">
			</div>
			<div>
				Dojo Location: 
				<select name="dojo_location">
					<option value="Seattle">Seattle</option>
					<option value="Milwaukee">Milwaukee</option>
					<option value="London">London</option>
					<option value="Leon">Leon</option>
				</select>
			</div>
			<div>
				Favorite Language: 
				<select name="favorite_language">
					<option value="Javascript">Javascript</option>
					<option value="Ruby">Ruby</option>
					<option value="React">React</option>
					<option value="Python">Python</option>
				</select>
			</div>
			<div>
				Comment (optional):
				<textarea></textarea>
			</div>
			<button type="submit" value="Submit">Submit</button>
		</form>
	</div>
</body>
</html>