<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> Survey Results</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div id="wrapper">
		<h2>Submitted Information</h2>
		<ul>
			<li>Name: <span><%= data.name %></span></li>
			<li>Dojo Location:<span> <%= data.location %></span></li>
			<li>Favorite Language: <%= data.language %></li>
			<li>Comment: <%= data.comment %></li>
		</ul>
		<a href="/"><button type="button">Back</button></a>
	</div>
</body>
</html>